<h1>Record Flight</h1>
<br/>
<form name="form" class="form-horizontal" novalidate>
    <div class="form-group">
        <label for="departureLocationId" class="col-sm-2 control-label">Departure Location</label>
        <div class="col-sm-10">
            <select id="departureLocationId" class="form-control" ng-model="flight.departureLocationId">
                <option ng-repeat="departureLocation in destinations" value="{{departureLocation.id}}">
                    {{departureLocation.city}}, {{departureLocation.country}}
                </option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="arrivalLocationId" class="col-sm-2 control-label">Arrival Location</label>
        <div class="col-sm-10">
            <select id="arrivalLocationId" class="form-control" ng-model="flight.arrivalLocationId">
                <option ng-repeat="arrivalLocation in destinations  " value="{{arrivalLocation.id}}">
                    {{arrivalLocation.city}}, {{arrivalLocation.country}}
                </option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="departureTime" class="col-sm-2 control-label">Departure Time</label>
        <div class="col-sm-10">
            <div class='input-group date' datetimepicker id='departureTime' ng-model="flight.departureTime"
                 options="optionsDepartureTime" on-change="optionsArrivalTime.minDate = flight.departureTime">
                <input type='text' class="form-control"/>
                <span class="input-group-addon">
                     <span class="glyphicon glyphicon-calendar"></span>
             </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="arrivalTime" class="col-sm-2 control-label">Arrival Time</label>
        <div class="col-sm-10">
            <div class='input-group date' datetimepicker id='arrivalTime' ng-model="flight.arrivalTime"
                 options="optionsArrivalTime" on-change="optionsDepartureTime.maxDate = flight.arrivalTime">
                <input id="arrivalTimeInput" type='text' class="form-control"/>
                <span class="input-group-addon">
                     <span class="glyphicon glyphicon-calendar"></span>
             </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="airplaneId" class="col-sm-2 control-label">Airplane</label>
        <div class="col-sm-10">
            <select id="airplaneId" class="form-control" ng-model="flight.airplaneId">
                <option ng-repeat="airplane in airplanes" value="{{airplane.id}}">
                    {{airplane.name}}
                </option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="stewardIds" class="col-sm-2 control-label">Stewards</label>
        <div class="col-sm-10">
            <select id="stewardIds" class="form-control" ng-model="flight.stewardsIds" multiple data-actions-box="true">
                <option ng-repeat="steward in stewards" value="{{steward.id}}">
                    {{steward.name}}
                </option>
            </select>
        </div>
    </div>

    <div class="col-sm-offset-11">
        <button class="btn btn-primary" type="submit" ng-click="create(flight)">Create flight</button>
    </div>

    <script type="text/javascript">
        $(function () {
            // $('#departureTime').datetimepicker({
            //     'showClear': true,
            //     'showClose': true,
            //     'toolbarPlacement': 'top'
            // });
            // $('#arrivalTime').datetimepicker({
            //     'useCurrent': false,
            //     'showClear': true,
            //     'showClose': true,
            //     'toolbarPlacement': 'top'
            // });
            // $('#departureTime').on("dp.change", function (e) {
            //     $('#arrivalTime').data("DateTimePicker").minDate(e.date);
            // });
            // $('#arrivalTime').on("dp.change", function (e) {
            //     $('#departureTime').data("DateTimePicker").maxDate(e.date);
            // });
            $('#stewardIds').selectpicker();
        });
    </script>
    </div>
</form>