<h1>Record Flight</h1>
<form name="form-horizontal">
    <div class="form-group">
        <label for="departureLocationId" class="control-label">Departure Location</label>
        <select id="departureLocationId" class="form-control" ng.model="flight.departureLocationId">
            <option ng-repeat="departureDestination in departureDestinations" value="{{departureDestination.id}}">
                {{departureDestination.city}}, {{departureDestination.country}}
            </option>
        </select>
    </div>
    <div class="form-group">
        <label for="arrivalLocationId" class="control-label">Arrival Location</label>
        <select id="arrivalLocationId" class="form-control" ng.model="flight.arrivalLocationId">
            <option ng-repeat="arrivalDestination in arrivalDestinations" value="{{arrivalDestination.id}}">
                {{arrivalDestination.city}}, {{arrivalDestination.country}}
            </option>
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">Departure Time</label>
        <div class='input-group date' id='departureTime'>
            <input type='text' class="form-control" ng-model="flight.departureTime"/>
            <span class="input-group-addon">
                     <span class="glyphicon glyphicon-calendar"></span>
             </span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Arrival Time</label>
        <div class='input-group date' id='arrivalTime' ng-model="flight.arrivalTime">
            <input type='text' class="form-control"/>
            <span class="input-group-addon">
                     <span class="glyphicon glyphicon-calendar"></span>
             </span>
        </div>
    </div>
    <div class="form-group">
        <label for="airplaneId" class="control-label">Airplane</label>
        <select id="airplaneId" class="form-control" ng.model="flight.airplaneId">
            <option ng-repeat="airplane in airplanes" value="{{airplane.id}}">
                {{airplane.name}}
            </option>
        </select>
    </div>
    <div class="form-group">

    </div>

    <script type="text/javascript">
        $(function () {
            $('#departureTime').datetimepicker({
                'showClear': true,
                'showClose': true,
                'toolbarPlacement': 'top'
            });
            $('#arrivalTime').datetimepicker({
                'useCurrent': false,
                'showClear': true,
                'showClose': true,
                'toolbarPlacement': 'top'
            });
            $('#departureTime').on("dp.change", function (e) {
                $('#arrivalTime').data("DateTimePicker").minDate(e.date);
            });
            $('#arrivalTime').on("dp.change", function (e) {
                $('#departureTime').data("DateTimePicker").maxDate(e.date);
            });
        });
    </script>
</form>