<div class="row">
    <div class="col-xs-6">
        <h1>Steward #{{steward.id}}</h1>
    </div>
    <div class="col-xs-6">
        <h3>Steward's flights</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-3">
        <table class="table">
            <thead>
                <tr>
                    <th> </th>
                    <th> &nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Firstname</th>
                    <td>{{steward.firstname}}</td>
                </tr>
                <tr>
                    <th>Surname</th>
                    <td>{{steward.surname}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-12 col-md-9">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Flight id</th>
                <th>Departure Location</th>
                <th>Arrival Location</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="flight in flights track by $index">
                <td>{{flight.id}}</td>
                <td>{{flight.departureLocation.city}}, {{flight.departureLocation.country}}</td>
                <td>{{flight.arrivalLocation.city}}, {{flight.arrivalLocation.country}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-danger" ng-click="deleteSteward(steward.id)">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
        </button>
    </div>
</div>