<div>
    <h1>Airplanes</h1>
    <br/>
    <table class="table table-condensed table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Type</th>
            <th>Capacity</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="airplane in airplanes track by $index">
            <th>{{airplane.id}}</th>
            <td>{{airplane.name}}</td>
            <td>{{airplane.type}}</td>
            <td>{{airplane.capacity}}</td>
        </tr>
        </tbody>
    </table>
</div>