
<!-- Author: Jan Cakl -->
<h1>Airplane #{{airplane.id}}</h1>
<div class="row">
    <div class="col-xs-6">
        <table class="table">
            <tr>
                <th>Name</th>
                <td>{{airplane.name}}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{airplane.type}}</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>{{airplane.capacity}}</td>
            </tr>
        </table>
    </div>
</div>